{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1>Producto</h1>
    <div class="row justify-content-between">
        <a class="col-3 btn btn-primary" href="{{ path('app_product_create') }}">Crear Nuevo</a><br>
        <a class="col-3 btn btn-primary" href="{{ path('app_product_create', {'selectized': true}) }}">Crear con select</a>
    </div>
    
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Code</th>
                <th>category</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                {% if product.id is defined %}
                    <th scope="row">#{{ product.id }}</th>
                {% endif %}
                {% if product.name is defined %}
                    <td>{{ product.name }}</td>
                {% endif %}
                {% if product.code is defined %}
                    <td>{{ product.code }}</td>
                {% endif %}
                {% if product.category is defined %}
                    <td>{{ product.category }}</td>
                {% endif %}
                <td>
                    <a class="btn" href="{{ path('app_product_create', {'id': product.id}) }}">editar</a>
                    <a class="btn" href="{{ path('app_product_create', {'id': product.id, 'selectized': true}) }}">editar con select</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No existen registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
